.aboutme {
    float: left;
    font-size: 36px;
}

.footer {
    text-align: center;
    font-size: 10p;
}

body {
    background-image: url(../assets/images/fishnets-and-hearts.png)
}

.container-fluid {
    background-color: white;
}